@using System.IdentityModel.Metadata
@using System.Web.Mvc.Html
@using Pamtim.Models

@{
    int Activity_ID = ViewBag.Activity_ID;
    int Course_ID = ViewBag.Course_ID;
}


@{
    ViewBag.Title = "Izostanci";
}

<div class="row">  
    <div class="col-3">
        @Html.ActionLink("<", "Pregled", "Activity", new { Course_ID = Course_ID }, htmlAttributes: new { @class = "btn btn-primary mx-1 my-1 mt-3" })
    </div>
    <div class="col-6">
        <h2 class="align-self-center text-center text-md-left mt-3">Izostanci</h2>
    </div>
</div>





<div class="row justify-content-center justify-content-md-start">
    @foreach (AbsenceViewModel item in Model.Items)
    {


        <div class="col-10 col-md-6 col-lg-4 my-3">
            <div class="card">
                <div class="card-header p-2">
                    <h5 class="card-title m-0">@item.CourseName</h5>
                    <h5 class=" m-0">@item.ActivityName</h5>
                </div>
                <div class="card-body p-2">
                    <div class="row no-gutters">
                        <div class="col-6 pr-4">


                            <h6>Datum izostanka:</h6>
                            <p>@item.AbsenceDate.ToString("dd/MM/yyyy")</p>
                            <hr />
                            <h6>Datum kreiranja:</h6>
                            <p>@item.CreationDate.ToString("MM/dd/yyyy")</p>
                            <hr />


                            <a href="@("\\Absence\\Edit\\" + item.ID_Absence)" class="align-self-end mx-2" aria-label="Link">
                                <img src="..\..\Content\edit.png" height="32" width="32"  alt="Slika"/>
                            </a>
                            <a href="@("\\Absence\\Delete\\?ID_Absence=" + item.ID_Absence + "&Activity_ID=" + item.Activity_ID)" onclick="javascript: return confirm('Obriši?');" class="align-self-end mx-2" aria-label="Link">
                                <img src="..\..\Content\delete.png" height="32" width="32"  alt="Slika"/>
                            </a>
                        </div>


                        <div class="col-6 border-left border-primary pl-4">
                            <h5>Opis:</h5>
                            <p>@item.Description</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="w-100 d-block d-md-none"></div>
    }


    <div class="grad fixed-bottom"></div>
    <div class=" fixed-bottom grad-b" style="background-color: #F7F7FF"></div>
    @Html.ActionLink("Dodaj novi izostanak", "Dodaj", "Absence", new { Activity_ID = Activity_ID }, htmlAttributes: new { @class = "btn btn-primary btn-lg fixed-bottom mx-5 mb-4" })


</div>