@using Microsoft.AspNet.Identity
@using Pamtim.Models
@model Pamtim.Models.EditEventViewModel


@{
    ViewBag.Title = "Dodaj";
}

<div class="row">
    <div class="col-3">
        @Html.ActionLink("<", "Pregled", "Event", new { Activity_ID = ViewBag.Activity_ID }, htmlAttributes: new { @class = "btn btn-primary mx-1 my-1 mt-3" })
    </div>
    <div class="col-6">
        <h4 class="align-self-center text-center text-md-left mt-3">Dodaj event</h4>
    </div>
</div>



@using (Html.BeginForm("Zapis", "Event", new { Activity_ID = ViewBag.Activity_ID }, FormMethod.Post))
{


<div class="form-horizontal">

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
    
    



    <div class="form-group">
        @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Day, new List<SelectListItem>
            {
                new SelectListItem{ Text = "Ponedjeljak", Value = "Ponedjeljak", Selected = true},
                new SelectListItem{ Text = "Utorak", Value = "Utorak"},
                new SelectListItem{ Text = "Srijeda", Value = "Srijeda"},
                new SelectListItem{ Text = "Četvrtak", Value = "Četvrtak"},
                new SelectListItem{ Text = "Petak", Value = "Petak"},
                new SelectListItem{ Text = "Subota", Value = "Subota"},
                new SelectListItem{ Text = "Nedjelja", Value = "Nedjelja"},
            } , new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Finish, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Finish, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
        </div>
    </div>    
    
    <div class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spremi" class="btn btn-primary" />
        </div>
    </div>
</div>
}

