@using Microsoft.AspNet.Identity
@model Pamtim.Models.EditActivityViewModel


@{
    ViewBag.Title = "Dodaj";
}

<div class="row">
    <div class="col-3">
        @Html.ActionLink("<", "Pregled", "Activity", new { Course_ID = ViewBag.Course_ID }, htmlAttributes: new { @class = "btn btn-primary mx-1 my-1 mt-3" })
    </div>
    <div class="col-6">
        <h4 class="align-self-center text-center text-md-left mt-3">Dodaj aktivnost</h4>
    </div>
</div>


@using (Html.BeginForm("Zapis", "Activity", new { Course_ID = ViewBag.Course_ID }, FormMethod.Post))
{


    <div class="form-horizontal">

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowedAbsence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowedAbsence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AllowedAbsence, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

